{
  "extends": [
    "airbnb",
    "plugin:import/errors",
    "plugin:prettier/recommended",
    "prettier/react",
    "prettier/standard",
    "plugin:@typescript-eslint/recommended",
    "prettier/@typescript-eslint",
    "plugin:prettier/recommended",
    "plugin:react/recommended"
  ],
  "plugins": ["react", "import", "react-hooks", "prettier"],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/extensions": [".js", ".jsx", ".ts", ".tsx", ".mjs"],
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"],
        "moduleDirectory": ["node_modules", "src/"]
      }
    }
  },
  "rules": {
    "@typescript-eslint/interface-name-prefix": [
      "error",
      {
        "prefixWithI": "always"
      }
    ],
    "@typescript-eslint/no-unused-expressions": ["error", {
      "allowShortCircuit": true, "allowTernary": true
    }],
    "@typescript-eslint/no-unused-vars": 1,
    "@typescript-eslint/no-use-before-define": 0,
    "@typescript-eslint/ban-ts-ignore": 0,
    "no-unused-expressions": "off",
    "no-unused-vars": "off",
    "import/extensions": [1, "never"],
    "prettier/prettier": "error",
    "react/button-has-type": "error",
    "react/forbid-prop-types": [2, { "forbid": ["any"] }],
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "error",
    "react/forbid-component-props": "error",
    "react/jsx-closing-tag-location": "error",
    "react/destructuring-assignment": "warn",
    "react/jsx-boolean-value": ["error", "never"],
    "react/jsx-closing-bracket-location": "error",
    "react/jsx-curly-spacing": ["error", "never"],
    "react/jsx-equals-spacing": "error",
    "react/no-deprecated": "error",
    "react/require-default-props": 0,
    "react/no-did-mount-set-state": "error",
    "react/no-did-update-set-state": "error",
    "react/no-string-refs": "error",
    "react/no-unknown-property": "error",
    "react/react-in-jsx-scope": "error",
    "react/self-closing-comp": "error",
    "react/sort-prop-types": "error",
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".tsx", ".js", ".jsx"]
      }
    ],
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "react/prop-types": 1,
    "no-console": 1,
    "no-underscore-dangle": 1,
    "import/imports-first": ["error", "absolute-first"],
    "import/newline-after-import": "error",
    "import/prefer-default-export": 0,
    "react/jsx-props-no-spreading": 1,
    "no-param-reassign": ["error", { "props": false }]
  },
  "globals": {
    "window": true,
    "document": true,
    "localStorage": true,
    "FormData": true,
    "FileReader": true,
    "Blob": true,
    "navigator": true,
    "fetch": true
  },
  "parser": "@typescript-eslint/parser"
}
